<% include header %>

<header class="masthead" style="background-image: url('img/about-bg.jpg')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1><%= title %>s</h1>
        <span class="subheading"><%= excerpt %></span><br>
        <span>Logined as <%= username %> </span>
      </div>
    </div>
  </div>
</div>
</header>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <%for ( let k=0; k< posts.length; k++) { %> 
          <div class="post-preview">
            <a href="/post/<%=posts[k]._id %>">
              <h2 class="post-title">
               <%= posts[k].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= posts[k].excerpt %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#"><%= posts[k].author %></a>
              on <%=posts[k].date %></p>
          </div>
          <hr>
          <% } %>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <% include footer %>